# Put your PostgreSQL username and password here.
# Format: postgresql+psycopg2://USERNAME:PASSWORD@localhost:5432/product_db

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/product_db
